
@import '../../../../styles/variables';

.this__temp {
    display: inline-block;
    font-size: 96px;
    font-weight: 500;
    color: $primary-color;
}

.top__block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.top__block_wrapper {
    margin-right: 67px;
}

.bottom__block_wrapper {
    font-size: 25px;
    color: $base-color;
}

.this__day {
    max-height: 300px;
    display: inline-block;
    padding: 30px 20px 20px 20px;
    box-shadow: var(#{--card-box-shadow-default});
    border-radius: 20px;
    background-color: var(#{--components-background-default});
}

.this__time {
    margin-bottom: 15px;
    color: $base-color;
} 

.this__day_day {
    font-size: 40px;
    color: var(#{--text-color-default});
}

.this__day_icon {

    svg {
        width: 120px;
        height: 120px;
    }
}