
@import 'null';
@import 'variables';
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap);

/* Code navigation */

/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1200 );

/* START */

body {
    font-family: "Montserrat", sans-serif;
    background-color: $dark;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-wrapper {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/*  */